@model List<BookStore.Models.Book>

@{
    ViewData["Title"] = "Index";
    var n = Model.Count; //number of elements
    var a = 3; // number off elements per row
    var nRow = (int) Math.Ceiling((double)n / a);
}

<h1>List Book</h1>

<form asp-action="List" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> 
        </p>
    </div>
</form>
<div class="container">
    <div class="row">
        @for (var i = 0; i < @Model.Count; i++)
        {
            <div class="col-md-4 col-6">
                <div class="card" style="width: 18rem;">
                    <img src=@("../../"+ Model[i].ImgUrl) class="card-img-top" alt="...">
            </div>
                    <div class="card-body">
                        <h5 class="card-title">@Model[i].Title</h5>
                        <p2 class = "card-Author">@Model[i].Author</p2>
                        <p1 class ="card-price">@Model[i].Price</p1>
                            <div class="card-body">
        <h5 class="card-title">@Model[i].Title</h5>
        <a href="#" class="btn btn-primary">Detail</a>
        <a asp-action="AddToCart" asp-route-isbn="@Model[i].Isbn" class="btn btn-primary">Add to cart</a>
    </div>

                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
        }
    </div>
     <div style="display:flex;text-align:center;justify-content:center">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
              @for (var i = 0; i < @ViewBag.numberOfPages; i++)
              {
                  var style = (ViewBag.currentPage == @a) ? "active" : "";
                  <li class="page-item @style">
                      <a class="page-link" asp-route-id="@i">@(i+1)</a>
                  </li>
              }
          </ul>
      </nav>
  </div>
</div>
  


